@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Lexend+Zetta:wght@100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-sans: "Funnel Sans", "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --background: #ffffffee;
  --foreground: oklch(0.278 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.278 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.278 0 0);
  --primary: oklch(0.646 0.222 41.116);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.278 0 0);
  --muted: oklch(0.97 0 0);
  --accent: oklch(0.646 0.222 41.116);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.577 0.245 27.325);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.278 0 0);
  --sidebar-primary: oklch(0.646 0.222 41.116);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.278 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.646 0.222 41.116);
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@layer components {
  .bg-dark {
    @apply bg-slate-950
  }
  .bg-content-dark {
    @apply bg-slate-900
  }
  .input-dark {
    @apply bg-slate-950 placeholder:text-white text-white border border-gray-800
  }
  .input-light {
    @apply bg-transparent placeholder:text-black text-black border border-gray-300
  }
  .border-dark {
    @apply border-gray-600
  }
  .border-light {
    @apply border-gray-300
  }
  .card-dark {
    @apply bg-slate-950
}
 }

@layer base {
  * {
    @apply border-border outline-ring/50 transition-[color,background-color] duration-300 ease-in-out;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Funnel Sans', sans-serif;
  }
  input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: black !important;
  }
  input[data-border="orange-500"]:focus {
    border: 2px solid theme('colors.orange.500') !important;
  }
  input[data-border="orange-500"]:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: black !important;
    color: black !important;
  }
  input[data-border="orange-dark-500"]:focus {
    border: 2px solid theme('colors.orange.500') !important;
  }
  input[data-border="orange-dark-500"]:-webkit-autofill {
    box-shadow: 0 0 0px 1000px theme('colors.slate.950') inset !important;
    -webkit-text-fill-color: white !important;
    color: white !important;
  }
}


